<div class="container-fluid timetable">
  <div class="row">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuTeacher" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Выберите преподавателя
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuTeacher">
        <a class="dropdown-item" href="#">Марина Васильевна</a>
        <a class="dropdown-item" href="#">Пушка Георгий</a>
        <a class="dropdown-item" href="#">Стекло Вадим</a>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <!--Timetable teacher-->
    <table class="table table-hover" >
      <thead class="thead-dark">
      <tr>
        <th scope="col">Время</th>
        <th scope="col">Предмет</th>
        <th scope="col">Аудитория</th>
        <th scope="col">Группа</th>
      </tr>
      </thead>
      <tbody>
      <tr class="monday_name">
        <th scope="row" colspan="5" class="text-center">Понедельник</th>
      </tr>
      <tr>
        <td scope="col">9:00</td>
        <td scope="col">Теория Вероятностей</td>
        <td scope="col">110</td>
        <td scope="col">3 РФ</td>
      </tr>
      <tr>
        <td scope="col">10:00</td>
        <td scope="col">Теория Вероятностей</td>
        <td scope="col">110</td>
        <td scope="col">3 РФ</td>
      </tr>


      <tr>
        <th scope="row" colspan="5" class="text-center">ВТОРНИК</th>
      </tr>
      <tr>
        <td scope="col">9:00</td>
        <td scope="col">Теория Вероятностей</td>
        <td scope="col">110</td>
        <td scope="col">3 РФ</td>
      </tr>

      <tr>
        <td scope="col">9:00</td>
        <td scope="col">Теория Вероятностей</td>
        <td scope="col">110</td>
        <td scope="col">3 РФ</td>
      </tr>
      </tbody>
    </table>
  </div>



</div>
