<div class="container pt-2 timetable">
  <div class="row">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuGroup" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Выберите группу
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuGroup">
        <a class="dropdown-item" href="#">Группа 1</a>
        <a class="dropdown-item" href="#">Группа 2</a>
        <a class="dropdown-item" href="#">Группа 3</a>
      </div>
    </div>

  </div>

  <div class="row mt-2">
    <!--Table of the group-->
    <table class="table table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Время</th>
        <th scope="col">Предмет</th>
        <th scope="col">Преподаватель</th>
        <th scope="col">Аудитория</th>
        <th scope="col">Группа</th>
      </tr>
      </thead>
      <tbody>
      <tr class="monday_name">
        <th scope="row" colspan="5" class="text-center">Понедельник</th>
      </tr>
      <tr>
        <td scope="col">9:00</td>
        <td scope="col">Теория Вероятностей</td>
        <td scope="col">Пахомов Александр Петрович</td>
        <td scope="col">110</td>
        <td scope="col">3 РФ</td>
      </tr>
      <tr>
        <td scope="col">10:00</td>
        <td scope="col">Теория Вероятностей</td>
        <td scope="col">Пахомов Александр Петрович</td>
        <td scope="col">110</td>
        <td scope="col">3 РФ</td>
      </tr>


      <tr>
        <th scope="row" colspan="5" class="text-center">ВТОРНИК</th>
      </tr>
      <tr>
        <td scope="col">9:00</td>
        <td scope="col">Теория Вероятностей</td>
        <td scope="col">Пахомов Александр Петрович</td>
        <td scope="col">110</td>
        <td scope="col">3 РФ</td>
      </tr>

      <tr>
        <td scope="col">9:00</td>
        <td scope="col">Теория Вероятностей</td>
        <td scope="col">Пахомов Александр Петрович</td>
        <td scope="col">110</td>
        <td scope="col">3 РФ</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
