<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        Проифиль
      </div>
      <div class="card-body" *ngIf="teacher">
        <strong>Id:</strong><p>{{teacher.idteachers}}</p>
        <strong>Имя:</strong><p>{{teacher.fname}}</p>
        <strong>Фамилия:</strong><p>{{teacher.lname}}</p>
        <strong>Специальность:</strong><p>{{teacher.level}}</p>
        <strong>Почта</strong><p>{{teacher.email}}</p>
      </div>
    </div>
  </div>
  <div class="col-8">

  </div>
</div>
