<!--NavBar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" >
  <a class="navbar-brand" href="#">TimePlan</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav  ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Support</a>
      </li>
    </ul>

    <form class="form-inline ml-2 my-lg-0">
      <!--<button class="btn btn-outline-success my-2 my-sm-0 btn-outline-danger" type="submit" >Register</button>-->
      <button type="button" class="btn btn-primary  my-2 my-sm-0"  data-target="#singupModal" data-toggle="modal">Logout</button>
    </form>
  </div>
</nav>


<div class="container pt-2">
  <div class="row">
    <div class="col-md-12">
        <!--&lt;!&ndash;Закладки&ndash;&gt;-->
        <!--<div class="card-header">-->
          <!--<ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">-->
            <!--<li class="nav-item">-->
              <!--<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home-tab" aria-selected="true">Главная</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
              <!--<a class="nav-link" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users-tab" aria-selected="false">Пользователи</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
              <!--<a class="nav-link" id="timetable-tab" data-toggle="tab" href="#timetable" role="tab" aria-controls="timetable" aria-selected="false">Расписание Групп</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
              <!--<a class="nav-link" id="group-tab" data-toggle="tab" href="#group" role="tab" aria-controls="group" aria-selected="false">Студентческие Группы</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
              <!--<a class="nav-link" id="teacher-tab" data-toggle="tab" href="#teacher" role="tab" aria-controls="teacher" aria-selected="false">Преподаватели</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->

        <!--<div class="card-body">-->
          <!--<div class="tab-content" id="myTabContent">-->

            <!--&lt;!&ndash;Главная&ndash;&gt;-->
            <!--<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">-->
              <!--<main></main>-->
            <!--</div>-->
            <!--&lt;!&ndash;Пользователи&ndash;&gt;-->
            <!--<div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="users-tab">-->
              <!--<users></users>-->
            <!--</div>-->

            <!--&lt;!&ndash;Расписание Групп&ndash;&gt;-->
            <!--<div class="tab-pane fade" id="timetable" role="tabpanel" aria-labelledby="timetable-tab">-->
             <!--<timetable-group></timetable-group>-->
            <!--</div>-->

            <!--&lt;!&ndash;Cтуденческие группы &ndash;&gt;-->
            <!--<div class="tab-pane fade" id="group" role="tabpanel" aria-labelledby="group-tab">-->
              <!--<groups></groups>-->
            <!--</div>-->

            <!--&lt;!&ndash;Преподователи &ndash;&gt;-->
            <!--<div class="tab-pane fade" id="teacher" role="tabpanel" aria-labelledby="teacher-tab">-->
              <!--<teachers></teachers>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <tabset>
          <tab heading="Main"><main></main></tab>
          <tab heading="Users"><users></users></tab>
          <tab heading="Groups"><groups></groups></tab>
          <tab heading="Timetable-group"><timetable-group></timetable-group></tab>
          <tab heading="Teachers"><teachers></teachers></tab>
        </tabset>

    </div>
  </div>
</div>
