<form  #createGroup="ngForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text" class="form-control" id="inputNameGroup" placeholder="Введите название группы">
    </div>
    <div class="col-6">
      <button type="button" class="btn btn-primary custom_btn">Создать группу</button>
    </div>
  </div>

  <div class="form-row">
    <div class=" form-group col-6">
      <div class="form-group ">
        <span class="form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Введите имя студента">
      </div>
    </div>
    <div class="form-group col-6">
      <button type="button" class="btn btn-primary custom_btn" id="search">Найти студента</button>
    </div>
  </div>
</form>

<!--Table of student-->
<div class="row pt-3">
    <table class="table table-hover" style="width: 40rem;">
      <thead class="thead">
      <tr>
        <th scope="col" class="fns">Имя</th>
        <th scope="col" class="lns">Фамилия</th>
        <th scope="col" class="act"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of students">
        <td scope="col">{{student._fname}}</td>
        <td scope="col">{{student._lname}}</td>
        <td scope="col" class="text-right">

          <!--<button class="btn btn-primary add-btn ml-4" type="radio" (click)="addStudent()"-->
                  <!--[disabled]="">Добавить</button>-->
          <!--&lt;!&ndash;if student in this group&ndash;&gt;-->
          <!--<button class="btn btn-primary remove-btn ml-4" type="button" (click)="removeStudent()"-->
                  <!--*ngIf="show_remove_btn">Убрать</button>-->



          <div class="btn-group">
            <label class="btn btn-primary"
                   btnRadio="Left" tabindex="0" role="button">+Добавить</label>
            <label class="btn btn-primary"
                   btnRadio="Middle" tabindex="0" role="button">-Убрать</label>
          </div>
        </td>
      </tr>
      <!--<tr>-->
        <!--<td scope="col">Иван</td>-->
        <!--<td scope="col">Грозный</td>-->
        <!--<td scope="col" class="text-right">-->
          <!--<button class="btn btn-primary add-btn ml-4" type="button" >Добавить</button>-->
          <!--&lt;!&ndash;if student in this group&ndash;&gt;-->
          <!--<button class="btn btn-primary remove-btn ml-4" type="button">Убрать</button>-->
        <!--</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td scope="col">Стас</td>-->
        <!--<td scope="col">Колковский</td>-->
        <!--<td scope="col" class="text-right">-->
          <!--<button class="btn btn-primary add-btn ml-4" type="button" >Добавить</button>-->
          <!--&lt;!&ndash;if student in this group&ndash;&gt;-->
          <!--<button class="btn btn-primary remove-btn ml-4" type="button">Убрать</button>-->
        <!--</td>-->
      <!--</tr>-->
      </tbody>
    </table>
</div>


