<form (ngSubmit)="create_group(); createGroup.reset()" #createGroup="ngForm">

  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text" class="form-control" id="inputNameGroup" placeholder="Введите название группы" required>
    </div>
    <div class="form-group col-6">
      <button type="submit" class="btn btn-primary custom_btn" [disabled]="count_choose_student == 0" >Создать группу</button>
    </div>
  </div>
</form>

<!--Table of student-->
<div class="row pt-3">
    <table class="table table-hover" style="width: 40rem;">
      <thead class="thead">
      <tr>
        <th scope="col" class="fns">Имя</th>
        <th scope="col" class="lns">Фамилия</th>
        <th scope="col" class="act"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of students">
        <td scope="col">{{student._fname}}</td>
        <td scope="col">{{student._lname}}</td>
        <td ><button class="btn btn-danger"(click)="removeStudent(student)" [disabled]="!student.getStatus()">Убрать</button></td>
        <td ><button class="btn btn-secondary" (click)="addStudent(student)" [disabled]="student.getStatus()">Добавить</button></td>
          <!--<button class="btn btn-primary add-btn ml-4" type="radio" (click)="addStudent()"-->
                  <!--[disabled]="">Добавить</button>-->
          <!--&lt;!&ndash;if student in this group&ndash;&gt;-->
          <!--<button class="btn btn-primary remove-btn ml-4" type="button" (click)="removeStudent()"-->
                  <!--*ngIf="show_remove_btn">Убрать</button>-->

      </tr>
      <!--<tr>-->
        <!--<td scope="col">Иван</td>-->
        <!--<td scope="col">Грозный</td>-->
        <!--<td scope="col" class="text-right">-->
          <!--<button class="btn btn-primary add-btn ml-4" type="button" >Добавить</button>-->
          <!--&lt;!&ndash;if student in this group&ndash;&gt;-->
          <!--<button class="btn btn-primary remove-btn ml-4" type="button">Убрать</button>-->
        <!--</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td scope="col">Стас</td>-->
        <!--<td scope="col">Колковский</td>-->
        <!--<td scope="col" class="text-right">-->
          <!--<button class="btn btn-primary add-btn ml-4" type="button" >Добавить</button>-->
          <!--&lt;!&ndash;if student in this group&ndash;&gt;-->
          <!--<button class="btn btn-primary remove-btn ml-4" type="button">Убрать</button>-->
        <!--</td>-->
      <!--</tr>-->
      </tbody>
    </table>
</div>


