<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        Проифиль
      </div>
      <div class="card-body" *ngIf="student">
        <strong>Id:</strong><p>{{student.idstudent}}</p>
        <strong>Имя:</strong><p>{{student.fname}}</p>
        <strong>Фамилия:</strong><p>{{student.lname}}</p>
        <strong>Почта</strong><p>{{student.email}}</p>
        <strong>Группа:</strong><p>{{student.group == null ? "Группы неопределена" : student.group.name}}</p>
      </div>
    </div>
  </div>
  <div class="col-8">

  </div>
</div>
