<!--Главная-->
<div class="container pt-2">
    <div class="row  ">
      <!--Component-->
      <!--<div class="col-3">-->
        <!--<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">-->
          <!--<a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Cоздать студента</a>-->
          <!--<a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Создать преподавателя</a>-->
          <!--<a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Создать группу</a>-->
          <!--<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Расписание студента</a>-->
          <!--<a class="nav-link" id="v-pills-settings2-tab" data-toggle="pill" href="#v-pills-settings2" role="tab" aria-controls="v-pills-settings2" aria-selected="false">Расписание преподавателя</a>-->
          <!--<a class="nav-link" id="v-pills-subject-tab" data-toggle="pill" href="#v-pills-subjects" role="tab" aria-controls="v-pills-subjects" aria-selected="false">Создать предмет</a>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="col-9">-->
        <!--<div class="tab-content" id="v-pills-tabContent">-->
          <!--&lt;!&ndash;Create student&ndash;&gt;-->
          <!--<create-student class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" ></create-student>-->

          <!--&lt;!&ndash;Create Teacher&ndash;&gt;-->
         <!--<create-teacher class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"></create-teacher>-->

          <!--&lt;!&ndash;Create Group&ndash;&gt;-->
          <!--<create-group class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"></create-group>-->

          <!--&lt;!&ndash;Create Timetable&ndash;&gt;-->
         <!--<table-student class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"></table-student>-->

          <!--<table-teacher class="tab-pane fade" id="v-pills-settings2" role="tabpanel" aria-labelledby="v-pills-settings2-tab"></table-teacher>-->

          <!--&lt;!&ndash;Create subject&ndash;&gt;-->
         <!--<create-subject class="tab-pane fade" id="v-pills-subjects" role="tabpanel" aria-labelledby="v-pills-subjects-tab"></create-subject>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="col-4">-->
        <!--<tabset [vertical]="true" type="pills">-->
          <!--<tab heading="Создать студента">-->
            <!--<create-student></create-student>-->
          <!--</tab>-->
          <!--<tab heading="Создать преподавателя">-->
            <!--<create-teacher></create-teacher>-->
          <!--</tab>-->
          <!--<tab heading="Создать группу">-->
            <!--<create-subject></create-subject>-->
          <!--</tab>-->
          <!--<tab heading="Расписание студента">-->
            <!--<table-student></table-student>-->
          <!--</tab>-->
          <!--<tab heading="Расписание учителя">-->
            <!--<table-teacher></table-teacher>-->
          <!--</tab>-->
          <!--<tab heading="Создать предмет">-->
            <!--<create-subject></create-subject>-->
          <!--</tab>-->

        <!--</tabset>-->
      <!--</div>-->

      <div class="col-3">
        <button class="btn btn-primary mt-3" [disabled]="create_student" (click)="chooseFunction( var1.textContent)" #var1>Создать студента</button><br>
        <button class="btn btn-primary mt-3" [disabled]="create_teacher" (click)="chooseFunction( var2.textContent)" #var2>Создать преподавателя</button><br>
        <button class="btn btn-primary mt-3" [disabled]="create_subj" (click)="chooseFunction( var3.textContent)" #var3>Создать предмет</button><br>
        <button class="btn btn-primary mt-3" [disabled]="create_group" (click)="chooseFunction( var4.textContent)" #var4>Создать группу</button><br>
        <button class="btn btn-primary mt-3" [disabled]="table_student" (click)="chooseFunction( var5.textContent)" #var5>Расписание групп</button><br>
        <button class="btn btn-primary mt-3" [disabled]="table_teacher" (click)="chooseFunction( var6.textContent)" #var6>Расписание преподавателя</button><br>
      </div>

      <div class="col-9 pl-5 justify-content-center">
        <create-student *ngIf="create_student"></create-student>
        <create-teacher *ngIf="create_teacher"></create-teacher>
        <create-subject *ngIf="create_subj"></create-subject>
        <create-group *ngIf="create_group"></create-group>
        <table-student *ngIf="table_student"> </table-student>
        <table-teacher *ngIf="table_teacher"></table-teacher>
      </div>
    </div>
  </div>

