<div class="col-8">
  <form>
    <!--if you choose teahcer-->
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputTeacher">Преподаватель</label>
        <select id="inputTeacher" class="form-control">
          <option>Выбирете преподавателя</option>
          <option *ngFor=" let teacher of list_teachers" [value]="teacher">{{teacher._fname}} {{teacher._lname}}</option>
        </select>
      </div>
    </div>


    <!--IF YOU CHOUSE TYPE SHOW INPUT FIELD FOR CREATE TIMETABLE-->
    <div class="form-row">
      <div class="form-group col-6">
        <label for="chooseDay">День</label>
        <select id="chooseDay" class="form-control">
          <option>Выбирете день</option>
          <option class="md">Понедельник</option>
          <option class="td">Вторник</option>
          <option class="wd">Среда</option>
          <option class="thd">Четверг</option>
          <option class="fd">Пятница</option>
          <option class="sd">Суббота</option>
        </select>
      </div>

      <div class="form-group col-6">
        <label for="chooseTime">Время</label>
        <select id="chooseTime" class="form-control">
          <option>Выбирете время</option>
          <option class="level1">9:00-10:00</option>
          <option class="level2">10:00-11:00</option>
          <option class="level3">11:00-12:00</option>
          <option class="level4">12:00-13:00</option>
          <option class="level5">13:00-14:00</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="chooseRoom">Аудитория</label>
        <input type="email" class="form-control" id="chooseRoom" placeholder="Enter room">
      </div>
    </div>

    <div class="row">
      <div class="col-6 text-center">
        <button class="btn btn-primary" style="width: 15rem;"  type="submit">Добавить</button>
      </div>
      <div class="col-6 text-center">
        <button class="btn btn-primary" style="width: 15rem;"  type="submit">Создать расписание</button>
      </div>
    </div>

  </form>
</div>
