<div class="container-fluid pt-3">

  <div class="row">
      <button class="btn btn-primary mr-2" type="button" [disabled]="!showStundets" (click)="display(student.textContent)" #student>Показать студентов</button>
      <button class="btn btn-primary mr-2" type="button" [disabled]="!showTeacher" (click)="display(teacher.textContent)" #teacher>Показать преподавателей</button>
      <button class="btn btn-dark mr-2" type="button" (click)="openModal(createStudent)">Создать студента</button>
      <button class="btn btn-dark mr-2" type="button" (click)="openModal(createTeacher)">Создать преподавателя</button>
      <!--<button class="btn btn-dark" type="button" (click)="updateComponent()">Обновить</button>-->
  </div>


    <!--Table of teacher-->
    <div class="row pt-3" *ngIf="!showTeacher ">
      <table class="table table-hover ">
        <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th scope="col" class="fnt">Имя</th>
          <th scope="col" class="lnt">Фамилия</th>
          <th scope="col" class="emailt">Почта</th>
          <th scope="col" class="pssw">Пароль</th>
          <th scope="col" class="level">Степень</th>
          <th scope="col" class="subject">Дисциплина</th>
          <th>Изменить</th>
          <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let teacher of teachers">
          <td scope="col">{{teacher.idteachers}}</td>
          <td scope="col">{{teacher.fname}}</td>
          <td scope="col">{{teacher.lname}}</td>
          <td scope="col">{{teacher.email}}</td>
          <td scope="col">{{teacher.password}}</td>
          <td scope="col">{{teacher.level}}</td>
          <!--<td scope="col" >{{teacher.subject == null ? "Не выбранно" : teacher.subject.name}}</td>-->
          <td>{{"Hello"}}</td>
          <td><button class="btn btn-secondary" type="button" (click)="updateTeacher(createTeacher,teacher)">Изменить</button></td>
          <td><button class="btn btn-danger" type="button" (click)="deleteTeacher(teacher.idteachers)">Удалить</button></td>
        </tr>
        </tbody>
      </table>
    </div>

    <!--Table of student-->
    <div class="row pt-3" *ngIf="!showStundets">
      <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th scope="col" class="fns">Имя</th>
          <th scope="col" class="lns">Фамилия</th>
          <th scope="col" class="email">Почта</th>
          <th scope="col" class="pssw">Пароль</th>
          <th scope="col" class="group">Группа</th>
          <th>Изменить</th>
          <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of students">
          <td>{{student.idstudent}}</td>
          <td scope="col">{{student.fname}}</td>
          <td scope="col">{{student.lname}}</td>
          <td scope="col">{{student.email}}</td>
          <td scope="col">{{student.password}}</td>
          <td>{{student.group == null ? "Неопределена" : student.group.name}}</td>
          <td><button class="btn btn-secondary" type="button" (click)="updateStudent(createStudent, student)">Изменить</button></td>
          <td><button class="btn btn-danger" type="button" (click)="deleteStudent(student.idstudent)">Удалить</button></td>
        </tr>
        </tbody>
      </table>
    </div>
</div>


<!--Create new Student-->
<ng-template #createStudent>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Создать студента</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Имя</label>
      <input class="form-control" name="fname" [(ngModel)]="create_student.fname" #fname="ngModel"  required/>
      <!--<div [hidden]="username.valid || username.untouched" class="alert alert-danger">-->
        <!--Пожалуйста введите имя &lt;!&ndash;Easy way to create client validation&ndash;&gt;-->
      <!--</div>-->
    </div>
    <div class="form-group">
      <label>Фамилия</label>
      <input class="form-control" name="lname" [(ngModel)]="create_student.lname" #lname="ngModel" required/>
      <!--<div [hidden]="lname.valid || lname.untouched" class="alert alert-danger">-->
        <!--Пожалуйста введите фамилию-->
      <!--</div>-->
    </div>

    <div class="form-group">
      <label>E-mail</label>
      <input class="form-control" name="email" [(ngModel)]="create_student.email" #email="ngModel"
             required pattern="[a-zA-Z0-9_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,4}"/>
      <!--<div [hidden]="email.valid || email.untouched" class="alert alert-danger">-->
        <!--Email введен некоректно-->
      <!--</div>-->
    </div>
    <div class="form-group">
      <label>Пароль</label>
      <input class="form-control" name="password" [(ngModel)]="create_student.password" #password="ngModel" type="password" required/>
      <!--<div [hidden]="password.valid || password.untouched" class="alert alert-danger">-->
        <!--Password введен некоректно-->
      <!--</div>-->
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="editStudent()" *ngIf="editMode">Изменить</button>
    <button type="button" class="btn btn-default" (click)="addStudent() "  *ngIf="!editMode">Create
    </button>
  </div>
</ng-template>

<!--Create new Teacher-->
<ng-template #createTeacher>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Создать преподавателя</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Имя</label>
      <input class="form-control" name="fnamet" [(ngModel)]="create_teacher.fname" #fnamet="ngModel" required/>
      <!--<div [hidden]="username.valid || username.untouched" class="alert alert-danger">-->
      <!--Пожалуйста введите имя &lt;!&ndash;Easy way to create client validation&ndash;&gt;-->
      <!--</div>-->
    </div>
    <div class="form-group">
      <label>Фамилия</label>
      <input class="form-control" name="lnamet" [(ngModel)]="create_teacher.lname" #lnamet="ngModel" required/>
      <!--<div [hidden]="lname.valid || lname.untouched" class="alert alert-danger">-->
      <!--Пожалуйста введите фамилию-->
      <!--</div>-->
    </div>

    <div class="form-group">
      <label>Степень</label>
      <select id="inputLevel" class="form-control" [(ngModel)] = "create_teacher.level" name="level_teacher" required>
        <option *ngFor="let level of level_list" [value]="level">{{level}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Дисциплина</label>
      <!--<select class="form-control" [(ngModel)]="choose_subject" name="subject" required>-->
        <!--<option>Не выбранно</option>-->
        <!--<option *ngFor="let subject of subjects">{{subject.name}}</option>-->
      <!--</select>-->
      <ss-multiselect-dropdown [options]="myOptions" [(ngModel)]="optionsModel" (ngModelChange)="onChange($event)">juh</ss-multiselect-dropdown>
    </div>

    <div class="form-group">
      <label>E-mail</label>
      <input class="form-control" name="emailt" [(ngModel)]="create_teacher.email" #emailt="ngModel"
             required pattern="[a-zA-Z0-9_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,4}"/>
      <!--<div [hidden]="email.valid || email.untouched" class="alert alert-danger">-->
      <!--Email введен некоректно-->
      <!--</div>-->
    </div>
    <div class="form-group">
      <label>Пароль</label>
      <input class="form-control" name="passwordt" [(ngModel)]="create_teacher.password" #passwordt="ngModel" type="password" required/>
      <!--<div [hidden]="password.valid || password.untouched" class="alert alert-danger">-->
      <!--Password введен некоректно-->
      <!--</div>-->
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="editTeacher()"  *ngIf="editMode">Изменить</button>
    <button type="button" class="btn btn-default" (click)="addTeacher()"  *ngIf="!editMode">Создать</button>
  </div>
</ng-template>
