<div class="col-9">
  <form (ngSubmit) = "createTimetable(); student_table.reset();" #student_table ="ngForm">
    <!--if you are choose group then it show this select for choosing number group-->
    <div class="form-row">
      <div class="form-group col-md-4" >
        <label for="inputNumberGroup">Группа</label>
        <select id="inputNumberGroup" class="form-control">
          <option>Номер группы</option>
          <option *ngFor="let group of list_group" [value]="group" (change)="chooseGroup(group)">
            {{group.name_group}}</option>
        </select>
      </div>
    </div>
        <!--IF YOU CHOUSE TYPE SHOW INPUT FIELD FOR CREATE TIMETABLE-->
    <div class="form-row">
      <div class="form-group col-6">
        <label >День</label>
        <select  class="form-control">
          <option>Выбирете день</option>
          <option class="md">Понедельник</option>
          <option class="td">Вторник</option>
          <option class="wd">Среда</option>
          <option class="thd">Четверг</option>
          <option class="fd">Пятница</option>
          <option class="sd">Суббота</option>
        </select>
      </div>

      <div class="form-group col-6" *ngIf="choose_teacher == null">
        <label for="chooseSubject">Предмет</label>
        <select id="chooseSubject" class="form-control" >
          <option>Выбирете предмет</option>
          <option *ngFor="let subject of list_subjects" [value]="subject">
            {{subject.name}}</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-6">
        <label >Время</label>
        <select  class="form-control">
          <option>Выбирете время</option>
          <option class="level1">9:00-10:00</option>
          <option class="level2">10:00-11:00</option>
          <option class="level3">11:00-12:00</option>
          <option class="level4">12:00-13:00</option>
          <option class="level5">13:00-14:00</option>
        </select>
      </div>

      <div class="form-group col-6">
        <label >Аудитория</label>
        <input type="email" class="form-control"  placeholder="Enter room">
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-6 text-center">
      <button class="btn btn-primary" style="width: 15rem;" type="submit">Добавить</button>
    </div>
    <div class="col-6 text-center">
      <button class="btn btn-primary" style="width: 15rem;" type="submit">Создать расписание</button>
    </div>
  </div>
</div>
