<div class="container pt-2 timetable">
  <div class="row">

    <div class="col-3">
      <select class="form-control">
        <option>Выберите группу</option>
        <option *ngFor="let group of list_group" [value]="group">{{group.name_group}}</option>
      </select>
    </div>

    <div class="col-6">
      <button class="btn btn-primary change-btn ml-3" type="button" (click)="openModal(template)" >Добавить Cтудента</button>
    </div>

    <ng-template #template class="modal-window">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead class="thead-dark">
          <tr>
            <th scope="col" class="fns">Имя</th>
            <th scope="col" class="lns">Фамилия</th>
            <th scope="col" class="act"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td scope="col">Петя</td>
            <td scope="col">Пупкин</td>
            <td scope="col" class="text-right">
              <button class="btn btn-primary delete-btn ml-4" type="button">Добавить</button>
            </td>
          </tr>
          <!--<tr>-->
          <!--<td scope="col">Иван</td>-->
          <!--<td scope="col">Грозный</td>-->
          <!--<td scope="col">ivan@gmail.com</td>-->
          <!--<td scope="col">ivanpass</td>-->
          <!--<td scope="col" class="text-right">-->
          <!--<button class="btn btn-primary change-btn ml-4" type="button" >Изменить</button>-->
          <!--<button class="btn btn-primary delete-btn ml-4" type="button">Удалить</button>-->
          <!--</td>-->
          <!--</tr>-->
          <!--<tr>-->
          <!--<td scope="col">Стас</td>-->
          <!--<td scope="col">Колковский</td>-->
          <!--<td scope="col">stas@gmail.com</td>-->
          <!--<td scope="col">staspass</td>-->
          <!--<td scope="col" class="text-right">-->
          <!--<button class="btn btn-primary change-btn ml-4" type="button" >Изменить</button>-->
          <!--<button class="btn btn-primary delete-btn ml-4" type="button">Удалить</button>-->
          <!--</td>-->
          <!--</tr>-->
          </tbody>
        </table>
      </div>
    </ng-template>
  </div>

  <div class="row mt-2" *ngIf="choose_group">
    <!--Table of the group-->
    <table class="table table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col" class="fns">Имя</th>
        <th scope="col" class="lns">Фамилия</th>
        <th scope="col" class="email">Почта</th>
        <th scope="col" class="pssw">Пароль</th>
        <th scope="col" class="act"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="">
        <td scope="col">Петя</td>
        <td scope="col">Пупкин</td>
        <td scope="col">petya@gmail.com</td>
        <td scope="col">petyapass</td>
        <td scope="col" class="text-right">
          <button class="btn btn-primary change-btn ml-4" type="button" >Изменить</button>
          <button class="btn btn-primary delete-btn ml-4" type="button">Удалить</button>
        </td>
      </tr>
      <!--<tr>-->
        <!--<td scope="col">Иван</td>-->
        <!--<td scope="col">Грозный</td>-->
        <!--<td scope="col">ivan@gmail.com</td>-->
        <!--<td scope="col">ivanpass</td>-->
        <!--<td scope="col" class="text-right">-->
          <!--<button class="btn btn-primary change-btn ml-4" type="button" >Изменить</button>-->
          <!--<button class="btn btn-primary delete-btn ml-4" type="button">Удалить</button>-->
        <!--</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td scope="col">Стас</td>-->
        <!--<td scope="col">Колковский</td>-->
        <!--<td scope="col">stas@gmail.com</td>-->
        <!--<td scope="col">staspass</td>-->
        <!--<td scope="col" class="text-right">-->
          <!--<button class="btn btn-primary change-btn ml-4" type="button" >Изменить</button>-->
          <!--<button class="btn btn-primary delete-btn ml-4" type="button">Удалить</button>-->
        <!--</td>-->
      <!--</tr>-->
      </tbody>
    </table>
  </div>
</div>
