<div class="container pt-2">
  <div class="row">
      <button class="btn btn-secondary " type="button" [disabled]="showGroup"  (click)="display(group.textContent)" #group>Показать группы</button>
      <button class="btn btn-primary ml-2" type="button" [disabled]="create_mode" (click)="display(create.textContent)"#create>Создать группу</button>
  </div>

  <div class="row pt-5" *ngIf="create_mode">
    <div class="form-group">
      <input class="form-control" [(ngModel)]="selectedGroup" name="name_group" #name_group="ngModel" required>
    </div>

    <div class="col-4"><button class="btn btn-outline-danger" (click)="create_group()">Создать группу</button></div>

    <table class="table table-hover pt-3">
      <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th scope="col" class="fns">Имя</th>
        <th scope="col" class="lns">Фамилия</th>
        <th scope="col" class="group">Группа</th>
        <th>Изменить</th>
        <th>Удалить</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of student_list">
        <td>{{student.idstudents}}</td>
        <td scope="col">{{student.fname}}</td>
        <td scope="col">{{student.lname}}</td>
        <td>{{student.ng == null ? "Неопределена" : student.ng}}</td>
        <td><button class="btn btn-danger"(click)="removeStudent(student)" [disabled]="!student.choosen" >Убрать</button></td>
        <td><button class="btn btn-secondary" (click)="addStudent(student)" [disabled]="student.choosen" >Добавить</button></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
