<div class="col-8">
  <form (ngSubmit)="createTeacher(); teacherForm.reset()"  #teacherForm="ngForm">
    <!--Fnam and lNAME-->
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputTeacherFname">Имя</label>
        <input type="text" class="form-control" id="inputTeacherFname" placeholder="Fname"
               [(ngModel)] = "fname"  name="fname_teacher" required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputTeacherLname">Фамилия</label>
        <input type="text" class="form-control" id="inputTeacherLname" placeholder="Lname"
        [(ngModel)] = "lname" name="lname_teacher" required>
      </div>
    </div>
    <!--Email and Password-->
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmailTeacher">Почта</label>
        <input type="email" class="form-control" id="inputEmailTeacher" placeholder="Email"
        [(ngModel)] ="mail" name="mail_teacher" required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPasswordTeacher">Пароль</label>
        <input type="password" class="form-control" id="inputPasswordTeacher" placeholder="Password"
        [(ngModel)] = "password" name="password_teacher" required>
      </div>
    </div>
    <!---->
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputLevel">Выберите степень</label>
        <select id="inputLevel" class="form-control" [(ngModel)] = "level" name="level_teacher" required>
          <option *ngFor="let level of level_teacher" [value]="level">{{level}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputSubjects">Выберите дисциплину</label>
        <select id="inputSubjects" class="form-control" [(ngModel)] = "subject" name="subject_teacher" required >
          <option *ngFor="let sub of subjects" [value]="sub">{{sub}}</option>
        </select>
      </div>
    </div>
    <!--Button create-->
    <button type="submit" class="btn btn-primary " [disabled]="teacherForm.form.invalid">Cоздать преподавателя</button>
  </form>
</div>
